{% extends 'store/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password | KEC</title>
</head>
<body>

<h2>Reset Password</h2>
<p>Set your new password</p>

<input type="hidden" id="token" value="{{ request.GET.token }}">

<input type="password" id="password" placeholder="New Password" required>
<br><br>

<button onclick="resetPassword()">Reset Password</button>

<script src="{% static 'store/js/forgot_password.js' %}"></script>
</body>
</html>
{% endblock %}