.chat {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.chat.bot {
  background: #f1f1f1;
  align-self: flex-start;
}

.chat.user {
  background: #0d6efd;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

#chatBox {
  display: flex;
  flex-direction: column;
}
